<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Watchers to Respond to Async Updates</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>

<div id="card">
  <header>{{title}}</header>
  <form v-on:submit.prevent="addDog">
    <input type="text" id="item-form" v-model="input">
    <button v-bind:disabled="buttonDisabled">{{buttonText}}</button>
  </form>
  <ul>
    <li v-for="dog in dogs">
      {{dog.text}}
    </li>
  </ul>
</div>

<script src="https://unpkg.com/vue@2.4.2"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.16.6/lodash.min.js"></script>
<script src="custom.js"></script>
</body>